/* contact section styling */
.contact{
    color:#fff;
    background: #264653;
    font-family: 'Poppins', sans-serif;
}
.contact .title::before{
    background: #fff;
}
.contact .title::after{
    background: #2a9d8f;
    content: "let's connect";
    color: white;
    border-radius: 10px;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #2a9d8f;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #ddd;
}
.contact .map-container {
    border-radius: 15px;
    overflow: hidden;
}
.contact .map-container iframe {
    border: none;
}
.contact .map-frame {
    border: 2px solid #000;
}